@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}


:root{
    --preto: #262626;
    --amarelo:#D9B166;
    --verde:#225945;
}
body{
    margin: 0 12vmax;
    background-color:var(--verde);

}


header{
    height: 100px;
    padding-top: 20px;
    background-color: whitesmoke; 
    box-shadow: 0px 10px 43px -22px rgb(0, 0, 0);
    z-index: 9;

    
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9;
    
}

header ul li{
    list-style: none;
    text-align: center;
    font-weight: bolder;
    color: var(--preto);
    justify-content: center;
    z-index: 9;
}


.logo{
    height: 65px;
}

main{
    justify-content: space-around;
    text-align: center;
    background-color: whitesmoke;
    z-index: 8;


}

main h1{
    padding: 25px;
    font-size: 1.6rem;
    color: var(--preto);
}
.container{
    display: flex;
    justify-content: space-around;
}
.content-aside{
    width: 50%;
}

.all-form{
    display: flex;
    flex-direction: column;
    background-color:var(--verde);
    color: whitesmoke;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 10px 43px -22px rgba(0, 0, 0, 0.98)

}

.all-form input{
    border: none;
    font-size: medium;
    padding: 3px;
    outline: none;
}

.head-form-nome {
    padding: 10px 0;
    text-align: start;
}

.head-form-nome input{
    width: 250px;
}

.head-form-email{
    padding: 10px 0;
    text-align: start;
}
.head-form-email input{
    width: 250px;
}

.head-form-tel{
    padding: 10px 0;
    text-align: start;
}
.head-form-tel input{
    width: 250px;
}

.body-form-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 10px;
    align-self: center;
    font-size: medium;
    
}

.body-form-all legend{
    padding: 10px;
    font-weight: bold;
}

.body-form{
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 120px;
    text-align: end;
}
.body-form label{
    padding: 0 20px;
}

.btn{
    margin: 25px 0 5px 0;
    padding: 10px 10px;
    width: 200px;
    background-color: var(--amarelo);
    border: none;
    color: var(--preto);
    font-weight: bolder;
    align-self: center;
   
}

.wpp-cta{
    bottom: 35px;
    left: 12vmax;
    position: fixed;
    width: 60px;

}

footer{
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    background-color:var(--preto);
    box-shadow: 0px 10px 27px -22px rgba(0, 0, 0, 0.98);
    font-size: .8rem;
}

@media screen and (max-width: 800px) {
    body {
        margin: 0;
    }
    main h1{
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
    .container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 20px;
    }
    .wpp-cta {
            bottom: 20px;
            left: 0;
            position: fixed;
            width: 50px;
    
        }
    .content-aside{
                    margin-top: 50px;
                }
    footer{
            font-size: .4rem;
            box-shadow: 0px 10px 43px -22px rgb(0, 0, 0);
        }

}