@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


:root{
    --preto: #262626;
    --amarelo:#D9B166;
    --verde:#225945;
    --verde2:#03A60E;
}
body{
    padding: 0 12vmax;
    background-color:var(--verde);  

}


header{
    height: 100px;
    box-shadow: 0px 10px 43px -22px rgba(0, 0, 0, 0.98);
    z-index: 999999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
    transform: perspective(35px);
    background-color: whitesmoke;   
}

.header-wpp{
    height: 30px;
    margin: 5px;
}

.header-white{
    background-color: gainsboro;;
    width: 70%;
    height: 100%;
    padding: 15px;
 
}
.header-green{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--verde);
    height: 100%;
    width: 40%;
    
    
    
}

.header-green a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 18px;
    
}

.logo{
    height: 65px;
    margin: 0 25px;
}

main{
    justify-content: space-around;
    text-align: center;
    background-color: gainsboro;
    

    


}

main h1{
    font-size: 32px;
    color: var(--preto);
    padding: 25px;
    
   
}
.container{
    display: flex;
    justify-content: space-around;
    
}
.content-aside{
    width: 50%;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.content-aside h3{
    padding: 8px;
    margin-bottom: 15px;
    color: var(--verde);
    font-size: 20px;
}
.content-aside p{
    font-size: 16px;
    padding: 0 10px;
}

.content-aside img{
    height: 180px;
    margin-top: 50px;
    padding: 0;
}
.btn-aside{
        font-size: 16px;
        padding: 10px;
        background-color: var(--verde2);
        border: none;
        color: whitesmoke;
        font-weight: bolder;
        text-decoration: none;
        cursor: pointer;
}
.all-form{
    display: flex;
    flex-direction: column;
    background-color:var(--verde);
    color: whitesmoke;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 10px 43px -22px rgba(0, 0, 0, 0.98)

}

.all-form input{
    border: none;
    font-size: medium;
    padding: 3px;
    outline: none;
}

.head-form-nome {
    padding: 10px 0;
    text-align: start;
}

.head-form-nome input{
    width: 250px;
}

.head-form-email{
    padding: 10px 0;
    text-align: start;
}
.head-form-email input{
    width: 250px;
}

.head-form-tel{
    padding: 10px 0;
    text-align: start;
}
.head-form-tel input{
    width: 250px;
}

.body-form-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 10px;
    align-self: center;
    font-size: medium;
    
}

.body-form-all legend{
    padding: 10px;

}

.body-form{
    display: flex;
    margin: 3px;
    padding: 3px;
    width: 160px;
    text-align: end;
}
.body-form label{
    padding: 5px;
    font-size: 14px;
}

.btn-form{
    margin: 25px 0 5px 0;
    padding: 10px 10px;
    width: 200px;
    background-color: var(--amarelo);
    border: none;
    color: var(--preto);
    font-weight: bolder;
    align-self: center;
    cursor: pointer;
   
}

.wpp-cta{
    bottom: 35px;
    left: 12vmax;
    position: fixed;
    width: 60px;
    cursor: pointer;

}

.container-vantagens{
    background-color: whitesmoke;
    margin-top: 30px;
    padding: 30px 70px;
    box-shadow: 0px -10px 27px -22px rgba(0, 0, 0, 0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-vantagens h3{
    padding: 15px 5px;
    font-size: 24px;
}

.vantagens-type{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}

.vantagens-type img{
    height: 110px;
    margin-left: 10px;
}

.vantagens-type p{
    font-size: 18px;
    text-align: center;
}

.btn-vantagens {
        margin-top: 40px;
        padding: 10px;
        background-color: var(--verde2);
        border: none;
        color: whitesmoke;
        font-weight: bolder;
        text-decoration: none;
        cursor: pointer;
}

.container-dep{
    padding: 40px 10px 40px 10px;
    box-shadow: 0px -10px 27px -22px rgba(0, 0, 0, 0.98);
}
.container-dep h3{
    font-size: 24px;
    padding: 20px
}

.departamentos-type{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 15px;

}
.departamentos-type p{
    font-size: 18px;
    text-align: center;
}


.departamentos-type img{
    max-width: 160px;
    margin: 5px;
}

.btn-dep{
    padding: 10px;
    background-color: var(--verde2);
    border: none;
    color: whitesmoke;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;

}


.finish-lp form{
    margin-top: 50px;
}

.finish-lp {
    color: whitesmoke;
    text-shadow: 2px 3px 6px #262626;
    background-image: url(./imgs/jseg-img02.jpg);
    background-blend-mode: darken;
    background-color: #26262693;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:110%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -10px 27px -22px rgb(0, 0, 0);
}

.finish-lp h2{
    padding: 20px;
    font-size: 1.5rem;
}

footer{
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    background-color:var(--preto);
    box-shadow: 0px -10px 27px -22px rgba(0, 0, 0, 0.98);
    font-size: .8rem;
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }
    header{
        height: 65px;
    }
        .header-white{
        padding: 0;
    }
        .header-green{
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: center;
        }
        .header-green a{
            font-size: .55rem;
            margin: 0;
            padding: 0;
        }
        .header-wpp{
            height: 15px;
            margin: 4px;
        }

        .logo{
            height: 45px;
            margin: 10px 20px;
        }
        
    main h1{
            font-size: 18px;
            padding: 30px 10px 0px 10px;
            
        }
    .container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 20px;
    }
    .content-aside{
        margin-top: 20px;
        width: 100%;
    }
    .container-vantagens{
        padding: 30px 10px;
    }
    .vantagens-type{
        padding: 15px 5px;
        }
    .vantagens-type img{
        height: 70px;
        margin: 0;
        margin-bottom: 5px;
    }
    .vantagens-type p{
    font-size: 12px;
}
    .container-vantagens h3{
    font-size: 20px;
}
    .container-dep{
    padding-top: 30px;
    margin: 0;
}

.container-dep h3{
    margin-top: 20px;
    padding: 0;
    font-size: 20px;

}
    .departamentos-type{
    padding: 25px 0px;
    margin: 15px;
}
    .departamentos-type img{
    max-height: 85px;
    margin: 0 10px
}
    .departamentos-type p{
    font-size: 12px;
}

    .wpp-cta {
            bottom: 20px;
            left: 0;
            position: fixed;
            width: 50px;
    
}

.finish-lp {
    background-size: cover;
    padding: 40px 10px;
}

    
   


    footer{
            font-size: 6.5px;
            box-shadow: 0px 10px 43px -22px rgb(0, 0, 0);
        }

}